body{
background: white;
background-image: url("6.jpg");
background-size: cover;

color: black;
font-family: 'Arial black'
text-decoration:none;

}

a {
    color: yellow;
}
b{

  color: pink;
  font-family: 'Arial'
}
