body{
background: black;
background-image: url("7.jpg");
background-size: contain;


color: white;
font-family: 'Arial black'
text-decoration:none;

}

a {
    color: white;
}
b{

  color: pink;
  font-family: 'Arial'
}
